.addres {
  position: relative;
  background-color: $white;

  @media (min-width: $desktop) {
    min-height: 400px;
  }
}

.addres__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;

  @media (min-width: $tablet) {
    padding: 56px 70px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: $white;
  }
}

.addres__text {
  justify-self: end;
  margin: 0;
  line-height: 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }

  @media (min-width: $desktop) {
    text-align: start;
  }
}
