.card-row {
  @include list_style;
}

.card-row__item {
  padding: 13px 0 19px;
  border-top: 1px solid $gray_200;
  border-bottom: 1px solid $gray_200;
  margin-top: -1px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 26px 38px;
    border: 1px solid $gray_200;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 244px;
    row-gap: 38px;
    align-items: center;
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }
}

.card-row__title {
  @include margin_reset(13px);

  line-height: 1em;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.card-row__text {
  display: grid;
  grid-template-columns: 1fr 70px;
  column-gap: 20px;

  @include margin_reset(15px);

  line-height: 1em;

  @media (min-width: $tablet) {
    justify-items: end;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop) {
    justify-items: start;
    margin-bottom: 0;
  }
}

.card-row__price {
  font-weight: 400;

  @media (min-width: $desktop) {
    justify-self: end;
  }
}

.card-row__button {
  @media (min-width: $tablet) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop) {
    grid-column: 3/4;
  }
}
