.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    width: 175px;
  }

  @media (min-width: $desktop) {
    width: 202px;
  }
}

.logo__link {
  height: 100%;

  &:last-child {
    display: flex;
    align-items: center;
  }
}

.logo__link[href] {
  &:hover img {
    opacity: 0.8;
  }

  &:active img {
    opacity: 0.6;
  }
}

.logo__img {
  @media (min-width: $tablet) {
    width: 61px;
    height: auto;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: auto;
  }
}

.logo__sign {
  @media (min-width: $desktop) {
    width: 118px;
    height: auto;
  }
}
