.logo {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 174px;
  }

  @media (min-width: $desktop) {
    width: 202px;
  }
}

.logo__link {
  height: 100%;

  &:last-child {
    display: flex;
    align-items: center;
  }
}

.logo__link[href] {
  &:hover img {
    opacity: 0.8;
  }

  &:active img {
    opacity: 0.6;
  }
}
