.main-catalog {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
  }
}

.main-catalog__title {
  @include margin_reset(41px);
  @include container;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }
}

.main-catalog .main__footer {
  background-color: $basic_grey;
}
