.main-catalog {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    padding-top: 35px;
    border: none;
  }

  @media (min-width: $desktop) {
    padding-top: 60px;
  }
}

.main-catalog__title {
  @include margin_reset(36px);
  @include container;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }
}

.main-catalog .main__footer {
  background-color: $basic_grey;
}
