.offer {
  padding: 36px 0;

  @media (min-width: $tablet) {
    padding: 69px 0 76px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.offer__content {
  display: grid;
  justify-content: center;
  position: relative;
  min-height: 290px;
  padding: 40px 30px;
  text-align: center;
  background: url("../img/background/offer_background.jpg") no-repeat center;

  @media (min-resolution: 2dppx) {
    background: url("../img/background/offer_background-media@2x.jpg") no-repeat center;
    background-size: auto 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }

  &::after {
    content: "";
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    width: 78px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/icon/icon_gift.svg") no-repeat center;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/background/offer_background@2x.jpg") no-repeat center;
    background-size: auto 100%;
  }

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    justify-items: start;
    align-content: center;
    text-align: left;
    min-height: 200px;
    padding: 30px;
    background: url("../img/background/offer_background-medium.jpg") no-repeat center;

    &::after {
      top: 57px;
      left: 77px;
      right: auto;
      width: 80px;
      height: 83px;
      background-size: 100%;
    }
  }

  @media (min-width: $desktop) {
    grid-template-columns: auto;
    gap: 0;
    align-content: normal;
    text-align: center;
    min-height: 288px;
    padding: 42px 30px;
    background: url("../img/background/offer_background.jpg") no-repeat center;

    @media (min-resolution: 2dppx) {
      background: url("../img/background/offer_background-media@2x.jpg") no-repeat center;
      background-size: auto 100%;
    }
  }
}

.offer__text {
  position: relative;
  z-index: 1;
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    margin-left: 40px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}
