.footer {
  background-color: $basic_grey;
}

.footer__container {
  display: grid;
  min-height: 147px;

  @include container;

  @media (min-width: $tablet) {
    grid-template-columns: max-content auto max-content;
    column-gap: 20px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
  }
}

.academy {
  min-height: 79px;
}

.academy__link {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 22px;
  align-items: center;
  min-height: 100%;

  font-size: 16px;
  text-decoration: none;
  color: #666666;

  &:active {
    opacity: 0.3;
  }
}

.academy__link:hover .academy__logo {
  color: $primary;
}

.academy__link:active .academy__logo {
  color: fade-out($color: $primary, $amount: 0.7);
}

.academy__text {
  color: $color_text;
}
