.promo {
  padding-top: 27px;
  padding-bottom: 20px;
  font-family: $font_heading;
  text-align: center;
  color: $white;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, $white 302px),
                    url('/source/img/mobile/index-background.jpg');
  background-size: 100%,
                   auto 302px;
  background-repeat: no-repeat;
}

.promo__title {
 @include margin_reset(25px);
  line-height: 1em;
  color: $white;
}

.promo__slogan {
  @include margin_reset(29px);
  text-transform: uppercase;
  line-height: 1em;
}

.promo__link {
  display: block;
}

.promo__button {
  max-width: 100%;
  margin: 0 20px;
  font-size: 14px;
}
