.promo {
  padding-top: 27px;
  padding-bottom: 20px;

  @include container;

  font-family: $font_heading;
  text-align: center;
  color: $white;
  background-color: #47464b;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, $white 302px),
                    url("../img/background/promo_small.jpg");
  background-repeat: no-repeat;
  background-size: 100%,
                  auto 302px;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, $white 302px),
                      url("../img/background/promo_small@2x.jpg");
    background-size: 100%,
                    auto 302px;
  }

  @media (min-width: $tablet) {
    padding-top: 35px;
    padding-bottom: 0;
    color: $black;
    background: none;
  }

  @media (min-width: $desktop) {
    position: relative;
    max-width: none;
    min-height: 565px;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 14px;

    &::after {
      content: "";
      position: absolute;
      z-index: -2;
      top: -140px;
      right: 0;
      bottom: 0;
      left: 50%;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
                        url("../img/background/promo_large.jpg");
      background-size: auto 100%;
      background-position: left top;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
                          url("../img/background/promo_large@2x.jpg");
      }
    }
  }
}

.promo__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: 12% 1fr;
    grid-template-rows: auto 609px;
    justify-items: start;
    text-align: left;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 80px 368px 1fr;
    grid-template-rows: 62% auto;

    @include container;
  }
}

.promo__text {
  max-width: 400px;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    max-width: 500px;
  }

  @media (min-width: $desktop) {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: end;
  }
}

.promo__title {
  @include margin_reset(25px);

  line-height: 1em;
  color: $white;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
    color: $black;
  }
}

.promo__slogan {
  @include margin_reset(29px);

  text-transform: uppercase;
  line-height: 1em;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
  }
}

.promo__link {
  display: block;

  @media (min-width: $tablet) {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: end;
  }

  @media (min-width: $desktop) {
    grid-column: 3/4;
    grid-row: 1/4;
    justify-self: start;
  }
}

.promo__photo {
  @media (min-width: $tablet) {
    width: auto;
    height: 100%;
  }

  @media (min-width: $desktop) {
    height: 499px;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    width: auto;
    margin-top: 29px;
    padding: 17px 27px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}
