.social {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-template-rows: min-content;
  justify-content: center;
  align-content: center;
  gap: 13px;
  min-height: 63px;

  @include list_style;
}

.social__link {
  display: flex;
  width: 40px;
  height: 34px;
  color: #666666;
}

.social__link:hover {
  color: $primary;
}

.social__link:active {
  color: fade-out($color: $primary, $amount: 0.7);
}

.social__icon {
  margin: auto;
}
