@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/oswaldregular.woff2) format("woff2"), url(../fonts/oswaldregular.woff) format("woff"); }

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/oswaldmedium.woff2) format("woff2"), url(../fonts/oswaldmedium.woff) format("woff"); }

*,
*::before,
*::after {
  box-sizing: border-box; }

.page {
  background-color: #e5e5e5; }

.page__body {
  min-width: 320px;
  width: auto;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .page__body {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1220px) {
    .page__body {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto; } }

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000; }
  @media (min-width: 768px) {
    .title {
      font-size: 60px;
      line-height: 1em; } }

.subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 20px;
      line-height: 26px; } }

.button {
  display: block;
  padding: 10px 26px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  cursor: pointer; }
  .button:hover {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f; }

.button_gray {
  color: #444444;
  background-color: #f2f2f2; }
  .button_gray:hover {
    background-color: #ebebeb; }
  .button_gray:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb; }

.header {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .header {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .header {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .header {
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
      -moz-column-gap: 40px;
           column-gap: 40px;
      padding-top: 24px;
      padding-bottom: 24px; } }
  @media (min-width: 1220px) {
    .header {
      padding-top: 53px;
      padding-bottom: 10px; } }

.header__nav {
  justify-self: end; }

.logo {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .logo {
      width: 174px; } }
  @media (min-width: 1220px) {
    .logo {
      width: 202px; } }

.logo__link {
  height: 100%; }
  .logo__link:last-child {
    display: flex;
    align-items: center; }

.logo__link[href]:hover img {
  opacity: 0.8; }

.logo__link[href]:active img {
  opacity: 0.6; }

.nav {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .nav {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px; } }
  @media (min-width: 1220px) {
    .nav {
      font-size: 20px;
      line-height: 30px; } }

.nav__button {
  position: relative;
  width: 42px;
  height: 100%;
  margin-right: -9px;
  padding: 0;
  border: none;
  background: transparent; }
  @media (min-width: 768px) {
    .nav__button {
      display: none; } }

.nav_closed .nav__button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 9px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px #000000, 0 16px #000000; }

.nav_opened .nav__button::before, .nav_opened .nav__button::after {
  content: "";
  position: absolute;
  left: 9px;
  width: 24px;
  height: 1.5px;
  background-color: #000000; }

.nav_opened .nav__button::before {
  transform: rotate(45deg); }

.nav_opened .nav__button::after {
  transform: rotate(-45deg); }

.nav_closed .nav__button:hover::before {
  background-color: #68b738;
  box-shadow: 0 8px #68b738, 0 16px #68b738; }

.nav_closed .nav__button:active::before {
  background-color: #68b738;
  opacity: 0.4; }

.nav_opened .nav__button:hover::before,
.nav_opened .nav__button:hover::after {
  background-color: #68b738; }

.nav_opened .nav__button:active::before,
.nav_opened .nav__button:active::after {
  background-color: #68b738;
  opacity: 0.4; }

@media (max-width: 767px) {
  .nav_opened .nav__list {
    position: absolute;
    top: 52px;
    right: -20px;
    width: 320px; }
  .nav_closed .nav__list {
    display: none; } }

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .nav__list {
      display: flex;
      position: static;
      width: auto; } }

.nav__item {
  position: relative;
  height: 66px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .nav__item:not(:first-child) {
    margin-top: -1px; }
    @media (min-width: 768px) {
      .nav__item:not(:first-child) {
        margin-top: 0; } }
  @media (min-width: 768px) {
    .nav__item {
      height: auto;
      border: none; }
      .nav__item:not(:last-child) {
        margin-right: 14px; }
      .nav__item--current::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        height: 2px;
        background-color: #68b738; } }

.nav__link {
  display: block;
  line-height: 64px;
  text-decoration: none;
  color: #000000; }
  @media (min-width: 768px) {
    .nav__link {
      padding: 10px;
      line-height: inherit; } }

.nav__link[href]:hover {
  opacity: 0.6; }

.nav__link[href]:active {
  opacity: 0.3; }

.promo {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 27px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), url("/source/img/mobile/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%, auto 302px; }
  @media (min-width: 768px) {
    .promo {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .promo {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .promo {
      grid-template-columns: 12% 1fr;
      grid-template-rows: auto 609px;
      justify-items: start;
      text-align: left;
      padding-top: 38px;
      padding-bottom: 0;
      color: #000000;
      background: none; } }
  @media (min-width: 1220px) {
    .promo {
      grid-template-columns: 12% 368px 1fr;
      grid-template-rows: 60% auto;
      min-height: 580px;
      padding-top: 22px; } }

.promo__text {
  max-width: 400px; }
  @media (min-width: 768px) {
    .promo__text {
      grid-column: 2/3;
      max-width: 500px; } }
  @media (min-width: 1220px) {
    .promo__text {
      grid-column: 2/4;
      grid-row: 1/2;
      align-self: end; } }

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  line-height: 1em;
  color: #ffffff; }
  @media (min-width: 768px) {
    .promo__title {
      margin-bottom: 40px;
      color: #000000; } }

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  line-height: 1em; }
  @media (min-width: 768px) {
    .promo__slogan {
      margin-bottom: 20px;
      font-size: 20px; } }
  @media (min-width: 1220px) {
    .promo__slogan {
      margin-bottom: 52px; } }

.promo__link {
  display: block; }
  @media (min-width: 768px) {
    .promo__link {
      grid-column: 1/-1;
      grid-row: 2/3;
      justify-self: end; } }
  @media (min-width: 1220px) {
    .promo__link {
      grid-column: 3/4;
      grid-row: 1/4;
      justify-self: start; } }

@media (min-width: 768px) {
  .promo__photo {
    width: auto;
    height: 100%; } }

@media (min-width: 1220px) {
  .promo__photo {
    height: 499px; } }

.promo__button {
  width: 100%;
  font-size: 14px; }
  @media (min-width: 768px) {
    .promo__button {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: start;
      width: auto;
      margin-top: 29px;
      padding: 14px 26px;
      font-size: 20px; } }
  @media (min-width: 1220px) {
    .promo__button {
      margin-top: 0; } }

.programs {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .programs {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .programs {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 1220px) {
    .programs__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      justify-content: space-between; } }

.programs__item {
  padding: 20px;
  background-color: #f2f2f2;
  background-repeat: no-repeat; }
  .programs__item:nth-child(1) {
    background-image: url(/source/img/mobile/weight_loss.svg);
    background-position: top 21px left 22px; }
    @media (min-width: 768px) {
      .programs__item:nth-child(1) {
        background-size: 200px auto;
        background-position: right 62px center; } }
    @media (min-width: 1220px) {
      .programs__item:nth-child(1) {
        background-size: 100px auto;
        background-position: top 41px left 52px; } }
  .programs__item:nth-child(2) {
    background-image: url(/source/img/mobile/weight_gain.svg);
    background-position: top 24px left 13px; }
    @media (min-width: 768px) {
      .programs__item:nth-child(2) {
        background-size: 268px auto;
        background-position: right 28px center; } }
    @media (min-width: 1220px) {
      .programs__item:nth-child(2) {
        background-size: 134px auto;
        background-position: top 47px left 33px; } }
  .programs__item:not(:last-child) {
    margin-bottom: 20px; }
    @media (min-width: 1220px) {
      .programs__item:not(:last-child) {
        margin: 0; } }
  @media (min-width: 768px) {
    .programs__item {
      padding: 77px 52px 57px;
      padding-right: 300px; } }
  @media (min-width: 1220px) {
    .programs__item {
      padding: 41px 52px 55px; } }

.programs__subtitle {
  margin: 0;
  margin-bottom: 22px;
  padding-left: 69px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .programs__subtitle {
      min-height: auto;
      padding: 0;
      font-size: 36px;
      line-height: 1em; } }
  @media (min-width: 1220px) {
    .programs__subtitle {
      margin-bottom: 39px;
      padding-left: 162px;
      line-height: 100px; } }

.programs__text {
  margin: 0;
  margin-bottom: 23px; }
  @media (min-width: 768px) {
    .programs__text {
      min-height: 125px; } }

.programs__link {
  position: relative;
  display: inline-block;
  padding: 4px 47px 4px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000; }
  .programs__link::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 32px;
    height: 10px;
    background: transparent url(/source/img/icon/icon-arrow.svg) no-repeat left center; }
  .programs__link:hover::after {
    background-image: url(/source/img/icon/icon_arrow_long.svg); }
  .programs__link:active, .programs__link:active::after {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .programs__link {
      padding: 9px 57px;
      padding-left: 0;
      font-size: 20px; }
      .programs__link::after {
        top: 14px; } }

.process {
  padding-top: 20px;
  padding-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .process {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .process {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .process {
      padding-top: 45px;
      padding-bottom: 45px; } }
  @media (min-width: 1220px) {
    .process {
      padding-bottom: 0; } }

.process__title {
  margin: 0;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .process__title {
      margin-bottom: 32px; } }

.process__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .process__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px; } }
  @media (min-width: 1220px) {
    .process__list {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px; } }

.process__item {
  position: relative;
  z-index: 1;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 26px; }
  .process__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center; }
  .process__item:nth-child(1)::before {
    background-image: url(/source/img/icon/icon_leaf.svg); }
  .process__item:nth-child(2)::before {
    background-image: url(/source/img/icon/icon_tub.svg); }
  .process__item:nth-child(3)::before {
    background-image: url(/source/img/icon/icon_eat.svg); }
  .process__item:nth-child(4)::before {
    background-image: url(/source/img/icon/icon_alarm.svg); }
  @media (min-width: 768px) {
    .process__item {
      min-height: 280px;
      padding-left: 0;
      padding-top: 150px; }
      .process__item::before {
        top: 40px;
        width: 80px;
        height: 80px; }
      .process__item::after {
        position: absolute;
        top: 0;
        left: 113px;
        z-index: 0;
        font-family: 'Oswald', sans-serif;
        font-size: 280px;
        font-weight: 400;
        line-height: 1em;
        color: #f2f2f2; }
      .process__item:nth-child(1)::after {
        content: "1"; }
      .process__item:nth-child(2)::after {
        content: "2"; }
      .process__item:nth-child(3)::after {
        content: "3"; }
      .process__item:nth-child(4)::after {
        content: "4"; } }

.process__text {
  position: relative;
  display: inline-block;
  z-index: 3;
  max-width: 245px; }

.example {
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .example {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .example {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .example {
      padding-top: 43px;
      padding-bottom: 55px;
      background-color: #ffffff;
      background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px); } }
  @media (min-width: 1220px) {
    .example {
      display: grid;
      grid-template-columns: 1fr 592px;
      grid-template-rows: 179px auto auto;
      -moz-column-gap: 45px;
           column-gap: 45px;
      row-gap: 20px;
      align-items: center;
      max-width: 1440px;
      min-height: 640px;
      padding-top: 0;
      padding-left: 110px;
      padding-right: 110px;
      background-image: linear-gradient(#ffffff 170px, #f2f2f2 170px); } }

.example__title {
  margin: 0;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .example__title {
      margin-bottom: 63px; } }
  @media (min-width: 1220px) {
    .example__title {
      margin-bottom: 0; } }

.example__text {
  margin: 0;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .example__text {
      margin-bottom: 54px; } }
  @media (min-width: 1220px) {
    .example__text {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 0; } }

.example__data {
  display: grid;
  text-align: center;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .example__data {
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
      -moz-column-gap: 90px;
           column-gap: 90px;
      margin-bottom: 80px; } }
  @media (min-width: 1220px) {
    .example__data {
      grid-column: 1/2;
      grid-template-columns: auto;
      justify-content: start;
      margin-bottom: 0; } }

.example__data-list {
  display: grid;
  grid-template-columns: 124px 124px;
  justify-content: center;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .example__data-list {
      grid-template-columns: 164px 164px;
      -moz-column-gap: 42px;
           column-gap: 42px;
      margin-bottom: 0; } }
  @media (min-width: 1220px) {
    .example__data-list {
      margin-bottom: 47px; } }

.example__data-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px; }
  .example__data-group::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    border: 1px solid #cdcdcd;
    border-radius: 3px; }
  @media (min-width: 768px) {
    .example__data-group::before {
      height: 72px; } }

.example__termin {
  position: relative;
  z-index: 2;
  order: 2;
  max-width: 87px;
  padding: 0 14px;
  font-size: 12px;
  line-height: 1em;
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .example__termin {
      max-width: 142px;
      padding: 0 7px;
      font-size: 14px;
      background-color: #ffffff; }
      .example__termin br {
        display: none; } }
  @media (min-width: 1220px) {
    .example__termin {
      background-color: #f2f2f2; } }

.example__data-descr {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .example__data-descr {
      margin-bottom: 11px;
      font-size: 30px;
      line-height: 37px; } }

.example__price {
  min-width: 250px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000; }
  .example__price b {
    font-weight: 400; }
  @media (min-width: 768px) {
    .example__price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px; } }
  @media (min-width: 1220px) {
    .example__price {
      flex-direction: row;
      justify-content: space-between; } }

@media (min-width: 1220px) {
  .example__slider {
    grid-column: 2/3;
    grid-row: 1/-1;
    align-self: start; } }

.slider {
  display: grid;
  grid-template-rows: 232px -webkit-max-content;
  grid-template-rows: 232px max-content;
  row-gap: 15px; }
  @media (min-width: 768px) {
    .slider {
      grid-template-rows: 511px -webkit-max-content;
      grid-template-rows: 511px max-content;
      row-gap: 29px; } }

.slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.slider__item {
  height: 100%;
  text-align: center; }
  .slider__item:last-child {
    display: none; }

.slider__img {
  width: auto;
  height: 100%; }

.slider__switching {
  display: grid;
  grid-template-columns: 1fr 86px 1fr;
  justify-items: start;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px; }
  @media (min-width: 768px) {
    .slider__switching {
      grid-template-columns: 1fr 426px 1fr; } }

.switching__value {
  cursor: pointer; }
  @media (min-width: 768px) {
    .switching__value {
      line-height: 30px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.24); }
      .switching__value:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
      .switching__value:active {
        border: none; } }

.switching__value--before {
  justify-self: end; }

.switching__scale {
  position: relative;
  width: 100%;
  height: 14px;
  padding: 4px 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .switching__scale {
      height: 6px;
      padding: 0;
      background-color: #dcdcdc;
      border: none; } }

.switch {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border: none;
  border-radius: 6px;
  cursor: pointer; }
  .switch:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19); }
  .switch:active {
    border: 1px solid #68b738;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .switch {
      top: -14px;
      left: 196px;
      width: 34px;
      height: 34px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16); }
      .switch::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 8px;
        height: 8px;
        background-color: #68b738;
        border-radius: 50%; } }

.main-catalog {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .main-catalog {
      border: none; } }

.main-catalog__title {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .main-catalog__title {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .main-catalog__title {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .main-catalog__title {
      margin-bottom: 80px; } }

.main-catalog .main__footer {
  background-color: #f2f2f2; }

/* Products */
@media (min-width: 768px) {
  .products {
    padding-left: 20px;
    padding-right: 20px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .products {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .products {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }

.products__title {
  margin: 0;
  margin-bottom: 8px; }

.products__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px; }

/* Products other */
.products-other {
  position: relative;
  padding-top: 25px; }
  .products-other::before {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #68b738; }
  @media (min-width: 768px) {
    .products-other {
      padding-top: 68px; }
      .products-other::before {
        top: 91px; } }
  @media (min-width: 1220px) {
    .products-other {
      padding-top: 75px;
      padding-bottom: 86px; }
      .products-other::before {
        top: 97px; } }

.product-other__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .product-other__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .product-other__wrapper {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1220px) {
    .product-other__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      -moz-column-gap: 80px;
           column-gap: 80px; } }

.products-other__title {
  position: relative;
  left: -20px;
  z-index: 2;
  display: inline-block;
  padding-left: 20px;
  padding-right: 22px;
  margin: 0;
  margin-bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1em;
  color: #000000;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .products-other__title {
      left: 0;
      margin-bottom: 80px;
      padding: 0 36px;
      font-size: 36px; } }
  @media (min-width: 1220px) {
    .products-other__title {
      left: -40px;
      grid-column: 1/-1;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-left: 0;
      padding-left: 40px; } }

@media (min-width: 1220px) {
  .products-other__list {
    grid-column: 1/4; } }

@media (min-width: 1220px) {
  .products-other__promo {
    grid-column: 4/5; } }

.cards {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px; } }
  @media (min-width: 1220px) {
    .cards {
      grid-template-columns: repeat(4, 1fr);
      -moz-column-gap: 80px;
           column-gap: 80px; } }

.cards__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
  padding: 19px 0 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  @media (min-width: 768px) {
    .cards__item {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .cards__item {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .cards__item {
      grid-template-columns: auto;
      grid-template-rows: 200px -webkit-max-content auto;
      grid-template-rows: 200px max-content auto;
      row-gap: 33px;
      text-align: center;
      width: 100%;
      padding: 0 36px 39px;
      background-image: linear-gradient(#ffffff 81px, #f2f2f2 81px);
      border: none; } }

.cards__item_more {
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 0;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 25px; }
  .cards__item_more::before, .cards__item_more::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3; }
  .cards__item_more::after {
    transform: rotate(90deg); }
  @media (min-width: 768px) {
    .cards__item_more {
      padding: 81px 0 0;
      background-image: none; }
      .cards__item_more::before, .cards__item_more::after {
        top: 163px;
        width: 60px; } }

@media (min-width: 768px) {
  .cards__item-content {
    display: grid;
    grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
    grid-template-rows: max-content 1fr max-content;
    justify-items: center;
    padding: 161px 36px 37px;
    border: 2px solid #f2f2f2; } }

.cards__link {
  display: flex; }

.cards__img {
  margin: auto; }
  @media (min-width: 768px) {
    .cards__img {
      margin-bottom: 0; } }

.cards__title-link {
  display: flex;
  justify-content: center;
  text-decoration: none; }

.cards__title {
  margin: 0;
  margin-bottom: 14px; }
  .cards__title br:nth-child(2) {
    display: none; }
  @media (min-width: 768px) {
    .cards__title {
      line-height: 24px; }
      .cards__title br:nth-child(1) {
        display: none; }
      .cards__title br:nth-child(2) {
        display: inline; } }

@media (min-width: 768px) {
  .cards__title_more {
    margin-bottom: 23px; } }

.cards__text {
  margin: 0;
  margin-bottom: 21px; }

.cards__description {
  display: flex;
  font-size: 12px;
  line-height: 16px; }
  .cards__description td {
    padding: 0; }
  @media (min-width: 768px) {
    .cards__description {
      font-size: 16px;
      line-height: 30px; } }

.cards__description-content {
  width: 100%; }

.cards__line {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .cards__line {
      border-bottom: 1px solid #cdcdcd; } }

.cards__button {
  grid-column: 1/-1; }

.cards__more-button {
  width: 100%; }

.card-row {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.card-row__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  margin-top: -1px; }
  @media (min-width: 768px) {
    .card-row__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 30px;
           column-gap: 30px;
      padding: 26px 38px;
      border: 1px solid #cdcdcd; } }
  @media (min-width: 1220px) {
    .card-row__item {
      grid-template-columns: 1fr 1fr 244px;
      row-gap: 38px;
      align-items: center;
      padding: 15px 0;
      border-left: none;
      border-right: none; } }

.card-row__title {
  margin: 0;
  margin-bottom: 13px;
  line-height: 1em; }
  @media (min-width: 768px) {
    .card-row__title {
      margin-bottom: 25px; } }
  @media (min-width: 1220px) {
    .card-row__title {
      margin-bottom: 0; } }

.card-row__text {
  display: grid;
  grid-template-columns: 1fr 70px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1em; }
  @media (min-width: 768px) {
    .card-row__text {
      justify-items: end;
      margin-bottom: 25px; } }
  @media (min-width: 1220px) {
    .card-row__text {
      justify-items: start;
      margin-bottom: 0; } }

.card-row__price {
  font-weight: 400; }
  @media (min-width: 1220px) {
    .card-row__price {
      justify-self: end; } }

@media (min-width: 768px) {
  .card-row__button {
    grid-column: 1/-1; } }

@media (min-width: 1220px) {
  .card-row__button {
    grid-column: 3/4; } }

.offer {
  padding: 35px 0; }
  @media (min-width: 768px) {
    .offer {
      padding: 69px 0 76px; } }
  @media (min-width: 1220px) {
    .offer {
      padding: 0; } }

.offer__content {
  display: grid;
  justify-content: center;
  position: relative;
  min-height: 290px;
  padding: 40px 30px;
  text-align: center;
  background: url("/source/img/mobile/catalog/offer_background.jpg") no-repeat center;
  background-size: cover; }
  .offer__content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85); }
  .offer__content::after {
    content: "";
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    width: 78px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background: url("/source/img/mobile/catalog/icon_gift.svg") no-repeat center; }
  @media (min-width: 768px) {
    .offer__content {
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 60px;
           column-gap: 60px;
      justify-items: start;
      align-content: center;
      text-align: left;
      min-height: 200px;
      padding: 30px;
      background-position: center -315px; }
      .offer__content::after {
        top: 57px;
        left: 77px;
        right: auto;
        width: 80px;
        height: 83px;
        background-size: 100%; } }
  @media (min-width: 1220px) {
    .offer__content {
      grid-template-columns: auto;
      gap: 0;
      align-content: normal;
      text-align: center;
      min-height: 288px;
      padding: 42px 30px;
      background-position: center; } }
  .offer__content::after {
    left: 84px; }

.offer__text {
  position: relative;
  z-index: 1;
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .offer__text {
      grid-column: 2/3;
      margin-left: 40px; } }
  @media (min-width: 1220px) {
    .offer__text {
      margin-left: 0; } }

.main-form {
  border-top: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .main-form {
      padding-left: 20px;
      padding-right: 20px;
      border: none; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .main-form {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .main-form {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }

.main-form__header {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .main-form__header {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .main-form__header {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .main-form__header {
      padding-top: 40px; } }

.main-form__title {
  margin: 0;
  margin-bottom: 37px;
  line-height: 1em; }
  @media (min-width: 768px) {
    .main-form__title {
      margin-bottom: 54px; } }

.main-form__header-text {
  margin: 0;
  margin-bottom: 39px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .main-form__header-text {
      margin-bottom: 66px;
      font-size: 20px;
      line-height: 30px; } }

.main-form .main__footer {
  background-color: #f2f2f2; }

.form {
  display: grid;
  row-gap: 23px;
  padding-bottom: 32px; }
  @media (min-width: 768px) {
    .form {
      row-gap: 62px;
      padding: 0 40px 72px; } }
  @media (min-width: 1220px) {
    .form {
      grid-template-columns: 1fr 1fr;
      gap: 69px 80px;
      padding: 0;
      padding-bottom: 82px; } }

.form__group {
  display: grid;
  row-gap: 13px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none; }
  @media (min-width: 768px) {
    .form__group {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .form__group {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  .form__group:nth-child(2) {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .form__group {
      row-gap: 20px;
      padding-left: 0;
      padding-right: 0; }
      .form__group:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 25px 27px;
        border: 1px solid #d9d9d9; } }
  @media (min-width: 1220px) {
    .form__group {
      width: 100%; }
      .form__group:nth-child(2) {
        margin: 0; }
      .form__group:nth-child(n+3) {
        grid-column: 1/3; }
      .form__group:nth-child(3) {
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 80px;
             column-gap: 80px; } }

@media (min-width: 768px) {
  .form__group_additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px; }
    .form__group_additional .form__legend {
      grid-column: 1/-1;
      margin-bottom: 62px; } }

@media (min-width: 1220px) {
  .form__group_additional {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; } }

.form__legend {
  display: flex;
  margin-bottom: 35px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: #000000; }
  .form__legend::before {
    content: "";
    position: absolute;
    margin-top: 16px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #68b738; }
  @media (min-width: 768px) {
    .form__legend {
      margin-bottom: 76px;
      font-size: 36px;
      line-height: 1em; } }

.form__legend-text {
  position: relative;
  z-index: 2;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: -20px;
  padding: 0 20px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .form__legend-text {
      margin-left: -39px;
      padding: 0 39px; } }

.form__label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media (min-width: 768px) {
    .form__label {
      font-size: 20px;
      line-height: 30px; } }

.control {
  min-height: 30px; }

.form__label-text {
  margin-right: 12px; }

.control__text {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 46px; }
  .control__text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd; }
  .control__text_radio::before {
    border-radius: 50%; }
  .control__text:hover::before {
    border: 1px solid #bababa; }

input[type=radio]:checked + .control__text::after {
  content: "";
  position: absolute;
  top: 8.5px;
  left: 8.5px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%; }

input[type=checkbox]:checked + .control__text::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 18px;
  height: 14px;
  background: transparent url(/source/img/mobile/catalog/check.svg) no-repeat center; }

.form__input {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #e7e7e7; }
  .form__input:not(:focus):not(.form__input_error):not([disabled]):hover {
    border: 1px solid #cdcdcd; }
  .form__input:focus {
    border: 2px solid #444444;
    outline: none; }
  .form__input[type='email']:focus + .form__icon path {
    stroke: #68b738; }
  .form__input[type='tel']:focus + .form__icon path {
    fill: #68b738; }
  .form__input_error {
    border: 2px solid #ff8282; }
  .form__input_error[type='email'] + .form__icon path {
    stroke: #ff8282; }
  .form__input_error[type='tel'] + .form__icon path {
    fill: #ff8282; }

input[disabled],
input[disabled] + .control__text,
textarea[disabled] {
  opacity: 0.3; }

.form__input:not([type='radio'], [type='checkbox']) {
  min-height: 45px;
  font: inherit;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }

.form__input[type='text'], [type='tel'], [type='email'] {
  flex-grow: 1; }

.form__input_contact {
  padding-right: 40px; }

.form__input_textarea {
  width: 100%;
  padding-top: 10px;
  padding-right: 13px;
  padding-bottom: 10px;
  height: 150px;
  resize: none; }
  @media (min-width: 768px) {
    .form__input_textarea {
      height: 175px; } }

.form__icon {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin-top: auto;
  margin-bottom: auto; }

.form__button-wrap {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .form__button-wrap {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .form__button-wrap {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .form__button-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 60px;
           column-gap: 60px;
      align-items: center;
      padding: 0; } }
  @media (min-width: 1220px) {
    .form__button-wrap {
      width: 100%;
      grid-column: 1/3;
      -moz-column-gap: 80px;
           column-gap: 80px;
      justify-items: start; } }

.form__button {
  width: 100%;
  margin-bottom: 21px; }
  @media (min-width: 768px) {
    .form__button {
      margin: 0;
      padding: 16px 26px;
      font-size: 20px;
      line-height: 1em; } }

.form__fn {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #000000; }
  @media (min-width: 768px) {
    .form__fn {
      font-size: 16px; } }

.addres {
  position: relative;
  background-color: #ffffff; }

.addres__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px; }
  @media (min-width: 768px) {
    .addres__wrapper {
      padding: 56px 70px; } }
  @media (min-width: 1220px) {
    .addres__wrapper {
      position: absolute;
      top: 95px;
      left: 110px;
      width: 565px;
      padding-left: 80px;
      padding-right: 80px; } }

.addres__text {
  justify-self: end;
  margin: 0;
  line-height: 20px; }
  @media (min-width: 768px) {
    .addres__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: end; } }
  @media (min-width: 1220px) {
    .addres__text {
      text-align: start; } }

.footer {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .footer {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .footer {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .footer {
      grid-template-columns: -webkit-max-content auto -webkit-max-content;
      grid-template-columns: max-content auto max-content;
      -moz-column-gap: 20px;
           column-gap: 20px;
      min-height: 147px; } }
  @media (min-width: 1220px) {
    .footer {
      max-width: 1440px;
      padding-left: 110px;
      padding-right: 110px; } }

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px; }
  .footer__logo:hover {
    opacity: 0.8; }
  .footer__logo:active {
    opacity: 0.6; }

.footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .footer__social {
      border: none; } }

.academy {
  min-height: 79px; }

.academy__link {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
  min-height: 100%;
  font-size: 16px;
  text-decoration: none;
  color: inherit; }
  .academy__link:active {
    opacity: 0.3; }

.academy__link:hover path {
  fill: #68b738; }

.academy__link:active path {
  fill: rgba(104, 183, 56, 0.3); }

.social {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  justify-content: center;
  align-content: center;
  gap: 13px;
  min-height: 63px;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.social__link {
  display: flex;
  width: 40px;
  height: 34px; }

.social__item:not(:last-child) .social__link:hover path {
  fill: #68b738; }

.social__item:last-child .social__link:hover path {
  stroke: #68b738; }

.social__item:not(:last-child) .social__link:active path {
  fill: rgba(104, 183, 56, 0.3); }

.social__item:last-child .social__link:active path {
  stroke: rgba(104, 183, 56, 0.3); }

.social__icon {
  margin: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
